body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-top{
    background-color: #1f2937;
    color: #f9faf8;
}

.nav-content {
    display: flex;
}

.nav-logo {

}
.nav-list { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    display: ;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.button-default {
    width: 7rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
}

.footer-bottom {
    background-color: #1f2937;
    color: #f9fafb;
    height: 6rem;
    margin-top: 4em;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}